{% extends 'calculator/base.html' %}
{% block body_block %}
    <h1>Enter two numbers and press calculate</h1>
    <form method="POST">
        <label for="n1">A:</label>
        <input type="text" name="n1">
        <label for="n2">B:</label>
        <input type="text" name="n2">
        <input type="submit" value="Calculate">
        {% csrf_token %}
    </form>
    {% if result %}
        <div class="container">
                    <h2>Your result is {{ result }}</h2>
        </div>
    {% else %}

    {% endif %}
{% endblock %}
